$white-color: #f2f2f2;
$black-color: #484848;
$grey-color: #c0c4cc;
$green-color: #d9fe95;
$opacity-level: 0.5;

@import "../node_modules/normalize.css/normalize.css";
@import "./nonogram.scss";
@import "./menu.scss";

$white-color: #f2f2f2;
$black-color: #484848;
$grey-color: #c0c4cc;
$green-color: #d9fe95;


body {
  height: 100vh;
  grid-template-rows: 1fr;
  background-color: $white-color;
  color: $black-color;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "main menu";
}

main {
  grid-area: main;
}
menu {
  grid-area: menu;
}

h1 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: 0.4px;
  margin: 0;
}

h2 {
  font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  margin: 0;
}

h3 {
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 129.412% */
letter-spacing: -0.425px;
margin: 0;
}

h4 {
  font-family: Roboto;
  color: $grey-color;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.225px;
  margin: 0;
}

p {
  color: $black-color;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.body__element1 {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

span {
  color: #E7ABAB;
}

@media only screen and (min-width: 500px) and (max-width: 1100px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "main"
      "menu";
  }
}
