@import "../node_modules/normalize.css/normalize.css";
body {
  height: 100vh;
  grid-template-rows: 1fr;
  background-color: #f1f2f2;
  color: #C0C4CC;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  grid-template-areas: "left main right";
}

left {
  grid-area: left;
}

main {
  grid-area: main;
}

right {
  grid-area: right;
}

h1 {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

p {
  color: #484848;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.body__element1 {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.nonogram__container {
  width: 432px;
  height: 432px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, [col] 48px);
  grid-template-rows: repeat(9, [row] 48px);
}

.nonogram__Hint--20 {
  grid-column: col 3/col 8;
  grid-row: row 3/row 8;
  display: grid;
  box-shadow: inset 0 0 0 0.8px #484848;
  grid-template-columns: repeat(5, [col] 48px);
  grid-template-rows: repeat(5, [row] 48px);
}

.nonogram__cell {
  box-shadow: inset 0 0 0 0.4px #C0C4CC;
}

.nonogram__cell--5 {
  background-color: #d9fe95;
  box-shadow: none;
}

.nonogram__Hint--4, .nonogram__Hint--3, .nonogram__Hint--2, .nonogram__Hint--1, .nonogram__Hint--0 {
  box-shadow: inset 0.5px 0 0 0 #C0C4CC;
  text-align: center;
  align-content: end;
  padding: 8px;
}

.nonogram__Hint--0 {
  grid-row: row 1/row 3;
  grid-column: col 3/col 4;
  box-shadow: none;
}

.nonogram__Hint--1 {
  grid-row: row 1/row 3;
  grid-column: col 4/col 5;
}

.nonogram__Hint--2 {
  grid-row: row 1/row 3;
  grid-column: col 5/col 6;
}

.nonogram__Hint--3 {
  grid-row: row 1/row 3;
  grid-column: col 6/col 7;
}

.nonogram__Hint--4 {
  grid-row: row 1/row 3;
  grid-column: col 7/col 8;
}

.nonogram__Hint--9, .nonogram__Hint--8, .nonogram__Hint--7, .nonogram__Hint--6, .nonogram__Hint--5 {
  box-shadow: inset 0 0.5px 0 0 #C0C4CC;
  text-align: right;
  align-content: center;
  padding: 8px;
}

.nonogram__Hint--5 {
  grid-row: row 3/row 4;
  grid-column: col 1/col 3;
  box-shadow: none;
}

.nonogram__Hint--6 {
  grid-row: row 4/row 5;
  grid-column: col 1/col 3;
}

.nonogram__Hint--7 {
  grid-row: row 5/row 6;
  grid-column: col 1/col 3;
}

.nonogram__Hint--8 {
  grid-row: row 6/row 7;
  grid-column: col 1/col 3;
}

.nonogram__Hint--9 {
  grid-row: row 7/row 8;
  grid-column: col 1/col 3;
  border: none;
}

.nonogram__Hint--14, .nonogram__Hint--13, .nonogram__Hint--12, .nonogram__Hint--11, .nonogram__Hint--10 {
  box-shadow: inset 0.5px 0 0 0 #C0C4CC;
  text-align: center;
  align-content: start;
  padding: 8px;
}

.nonogram__Hint--10 {
  grid-row: row 8/row 10;
  grid-column: col 3/col 4;
  box-shadow: none;
}

.nonogram__Hint--11 {
  grid-row: row 8/row 10;
  grid-column: col 4/col 5;
}

.nonogram__Hint--12 {
  grid-row: row 8/row 10;
  grid-column: col 5/col 6;
}

.nonogram__Hint--13 {
  grid-row: row 8/row 10;
  grid-column: col 6/col 7;
}

.nonogram__Hint--14 {
  grid-row: row 8/row 10;
  grid-column: col 7/col 8;
}

.nonogram__Hint--19, .nonogram__Hint--18, .nonogram__Hint--17, .nonogram__Hint--16, .nonogram__Hint--15 {
  box-shadow: inset 0 0.5px 0 0 #C0C4CC;
  text-align: left;
  align-content: center;
  padding: 8px;
}

.nonogram__Hint--15 {
  grid-row: row 3/row 4;
  grid-column: col 8/col 10;
  box-shadow: none;
}

.nonogram__Hint--16 {
  grid-row: row 4/row 5;
  grid-column: col 8/col 10;
}

.nonogram__Hint--17 {
  grid-row: row 5/row 6;
  grid-column: col 8/col 10;
}

.nonogram__Hint--18 {
  grid-row: row 6/row 7;
  grid-column: col 8/col 10;
}

.nonogram__Hint--19 {
  grid-row: row 7/row 8;
  grid-column: col 8/col 10;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "left" "main" "right";
  }
}/*# sourceMappingURL=main.css.map */