
$white-color: #f2f2f2;
$black-color: #484848;
$grey-color: #c0c4cc;
$green-color: #d9fe95;
$opacity-level: 0.5;

.nonogram__container {
  width: 432px;
  height: 432px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, [col]48px);
  grid-template-rows: repeat(9, [row]48px);
}

.nonogram__container--finish {
display: none;

  height: 432px;
  width: 720px;
  margin: auto;
}

.nonogram__Hint--20 {
  grid-column: col 3 / col 8;
  grid-row: row 3 / row 8;
  display: grid;
  box-shadow: inset 0 0 0 0.8px $black-color;
  grid-template-columns: repeat(5, [col]48px);
  grid-template-rows: repeat(5, [row]48px);
}

.nonogram__cell {
  box-shadow: inset 0 0 0 0.4px $grey-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &.right {
    background: url(../assets/cross.svg);
  }

  &.left {
    box-shadow: none;
  }
}

%hint_up {
  box-shadow: inset 0.5px 0 0 0 $grey-color;
  text-align: center;
  align-content: end;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.nonogram__Hint--0 {
  grid-row: row 1 / row 3;
  grid-column: col 3 / col 4;
  @extend %hint_up;
  box-shadow: none;
}

.nonogram__Hint--1 {
  grid-row: row 1 / row 3;
  grid-column: col 4 / col 5;
  @extend %hint_up;
}

.nonogram__Hint--2 {
  grid-row: row 1 / row 3;
  grid-column: col 5 / col 6;
  @extend %hint_up;
}

.nonogram__Hint--3 {
  grid-row: row 1 / row 3;
  grid-column: col 6 / col 7;
  @extend %hint_up;
}

.nonogram__Hint--4 {
  grid-row: row 1 / row 3;
  grid-column: col 7 / col 8;
  @extend %hint_up;
}

%hint_left {
  box-shadow: inset 0 0.5px 0 0 $grey-color;
  align-content: center;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.nonogram__Hint--5 {
  grid-row: row 3 / row 4;
  grid-column: col 1 / col 3;
  @extend %hint_left;
  box-shadow: none;
}

.nonogram__Hint--6 {
  grid-row: row 4 / row 5;
  grid-column: col 1 / col 3;
  @extend %hint_left;
}

.nonogram__Hint--7 {
  grid-row: row 5 / row 6;
  grid-column: col 1 / col 3;
  @extend %hint_left;
}

.nonogram__Hint--8 {
  grid-row: row 6 / row 7;
  grid-column: col 1 / col 3;
  @extend %hint_left;
}

.nonogram__Hint--9 {
  grid-row: row 7 / row 8;
  grid-column: col 1 / col 3;
  @extend %hint_left;
  border: none;
}

%hint_bottom {
  box-shadow: inset 0.5px 0 0 0 $grey-color;
  text-align: center;
  align-content: start;
  padding: 8px;
}

.nonogram__Hint--10 {
  grid-row: row 8 / row 10;
  grid-column: col 3 / col 4;
  @extend %hint_bottom;
  box-shadow: none;
}

.nonogram__Hint--11 {
  grid-row: row 8 / row 10;
  grid-column: col 4 / col 5;
  @extend %hint_bottom;
}

.nonogram__Hint--12 {
  grid-row: row 8 / row 10;
  grid-column: col 5 / col 6;
  @extend %hint_bottom;
}

.nonogram__Hint--13 {
  grid-row: row 8 / row 10;
  grid-column: col 6 / col 7;
  @extend %hint_bottom;
}

.nonogram__Hint--14 {
  grid-row: row 8 / row 10;
  grid-column: col 7 / col 8;
  @extend %hint_bottom;
}

%hint_right {
  box-shadow: inset 0 0.5px 0 0 $grey-color;
  text-align: left;
  align-content: center;
  padding: 8px;
}

.nonogram__Hint--15 {
  grid-row: row 3 / row 4;
  grid-column: col 8 / col 10;
  @extend %hint_right;
  box-shadow: none;
}

.nonogram__Hint--16 {
  grid-row: row 4 / row 5;
  grid-column: col 8 / col 10;
  @extend %hint_right;
}

.nonogram__Hint--17 {
  grid-row: row 5 / row 6;
  grid-column: col 8 / col 10;
  @extend %hint_right;
}

.nonogram__Hint--18 {
  grid-row: row 6 / row 7;
  grid-column: col 8 / col 10;
  @extend %hint_right;
}

.nonogram__Hint--19 {
  grid-row: row 7 / row 8;
  grid-column: col 8 / col 10;
  @extend %hint_right;
}

